---
import Divider from '@/components/divider/index.astro';
import { FormattedDate } from '@/components/formatted-date';
import Category from '@/components/category/index.astro';
import Breadcrumb from './breadcrumb/index.astro';

type Props = {
  postName: string;
  postAuthor: string;
  postDate: string;
  postCategory: string;
};

const { postName, postAuthor, postCategory, postDate } = Astro.props;
---

<Breadcrumb postName={postName} />
<h1 class='text-2xl md:text-3xl font-bold text-gray-900 leading-10 mt-6'>
  {postName}
</h1>

<div class='flex flex-col md:flex-row md:items-center justify-between mt-3'>
  <div class='flex items-center gap-1 font-bold text-gray-300 text-sm'>
    {postAuthor}
    <Divider />
    <FormattedDate value={postDate} />
  </div>
  <div class='flex items-center gap-3 text-gray-500 md:mt-0'>
    <Category name={postCategory} />
    <Divider />
    <small class='text-sm'>7 min de leitura</small>
  </div>
</div>
