---
import Root from '@/layouts/root/index.astro';

const subtitleClass = 'text-gray-700 text-xl tracking-wider font-bold mt-6';
const paragraphClass = 'text-gray-700 leading-6 mt-3';
const listItemClass = 'ml-6';
const listClass = 'list-disc space-y-2 mt-3';
const strongClass = 'text-gray-800 font-bold';
---

<Root title='Termos de uso'>
  <div class='small-container mx-auto px-6 md:px-0'>
    <h1 class='text-gray-900 text-3xl md:text-4xl font-bold tracking-wider'>
      Termos de uso
    </h1>
    <p class='text-gray-700 font-bold mt-3 mb-10'>
      Última atualização: <time datetime=''>15/10/2024</time>
    </p>
    <p class={paragraphClass}>
      Bem-vindo ao Pulo do Gato News! Ao acessar ou utilizar nosso site, você
      concorda com os seguintes Termos de Uso. Leia atentamente, pois eles
      definem os direitos e responsabilidades ao usar nosso conteúdo e serviços.
    </p>

    <h2 class={subtitleClass}>1. Aceitação dos Termos</h2>
    <p class={paragraphClass}>
      Ao acessar este blog, você concorda em cumprir estes Termos de Uso, todas
      as leis e regulamentos aplicáveis, e em assumir a responsabilidade pelo
      cumprimento de quaisquer leis locais relevantes. Se você não concorda com
      algum destes termos, está proibido de usar ou acessar o site.
    </p>

    <h2 class={subtitleClass}>2. Modificações dos Termos</h2>
    <p class={paragraphClass}>
      O Pulo do Gato News pode revisar estes Termos de Uso a qualquer momento,
      sem aviso prévio. É sua responsabilidade revisar esta página
      periodicamente para tomar conhecimento de quaisquer alterações. O uso
      continuado do site após a publicação de alterações implica aceitação dos
      novos termos.
    </p>

    <h2 class={subtitleClass}>3. Uso do Conteúdo</h2>
    <p>
      Todo o conteúdo publicado no blog, incluindo textos, imagens, gráficos e
      vídeos, é protegido por direitos autorais e outras leis de propriedade
      intelectual. Você não tem permissão para:
    </p>
    <ul class={listClass}>
      <li class={listItemClass}>
        <p class={paragraphClass}>
          Reproduzir, distribuir ou modificar o conteúdo sem autorização prévia
          por escrito;
        </p>
      </li>
      <li class={listItemClass}>
        <p class={paragraphClass}>
          Usar qualquer parte do conteúdo para fins comerciais sem nossa
          autorização explícita;
        </p>
      </li>
      <li class={listItemClass}>
        <p class={paragraphClass}>
          Utilizar métodos de extração de dados (como "data mining") ou práticas
          similares sem permissão.
        </p>
      </li>
    </ul>

    <p>
      <strong class={strongClass}>Exceções:</strong>
      É permitido compartilhar trechos do conteúdo com a devida atribuição ao blog
      e link para a postagem original.
    </p>

    <h2 class={subtitleClass}>4. Comentários e Participação do Usuário</h2>
    <p class={paragraphClass}>
      Os usuários podem postar comentários e interagir com o conteúdo, desde
      que:
    </p>
    <ul class={listClass}>
      <li class={listItemClass}>
        <p class={paragraphClass}>
          Não publiquem material ofensivo, difamatório, discriminatório ou que
          infrinja qualquer lei;
        </p>
      </li>
      <li class={listItemClass}>
        <p class={paragraphClass}>
          Respeitem os outros usuários e os administradores do blog;
        </p>
      </li>
      <li class={listItemClass}>
        <p class={paragraphClass}>
          Não utilizem a área de comentários para autopromoção, spam ou conteúdo
          publicitário.
        </p>
      </li>
    </ul>
    <p class={paragraphClass}>
      O Pulo do Gato News se reserva o direito de remover, sem aviso prévio,
      qualquer comentário que violar estas regras.
    </p>

    <h2 class={subtitleClass}>5. Links Externos</h2>
    <p class={paragraphClass}>
      O blog pode conter links para sites externos. Não temos controle sobre o
      conteúdo desses sites e não nos responsabilizamos por qualquer material ou
      serviço oferecido por terceiros. O uso de links externos é por sua conta e
      risco.
    </p>

    <h2 class={subtitleClass}>6. Privacidade</h2>
    <p class={paragraphClass}>
      Ao utilizar o blog, você concorda com nossa Política de Privacidade, que
      explica como coletamos, usamos e protegemos seus dados pessoais. Acesse
      nossa Política de Privacidade [aqui] para mais detalhes.
    </p>

    <h2 class={subtitleClass}>7. Isenção de Responsabilidade</h2>
    <p class={paragraphClass}>
      O conteúdo publicado no blog é fornecido "como está", sem garantias de
      qualquer tipo, expressas ou implícitas. Embora nos esforcemos para
      garantir que as informações sejam precisas, não garantimos a exatidão ou
      integridade do conteúdo. O uso de qualquer material no blog é por sua
      conta e risco.
    </p>

    <h2 class={subtitleClass}>8. Limitação de Responsabilidade</h2>
    <p class={paragraphClass}>
      Em nenhuma circunstância o Pulo do Gato News ou seus administradores serão
      responsáveis por quaisquer danos diretos, indiretos, incidentais,
      consequenciais ou especiais que resultem do uso ou da incapacidade de usar
      o blog ou seu conteúdo.
    </p>

    <h2 class={subtitleClass}>
      9. Direitos Autorais e Propriedade Intelectual
    </h2>
    <p class={paragraphClass}>
      Todo o conteúdo deste blog é de propriedade do Pulo do Gato News ou de
      seus licenciantes e é protegido pelas leis de direitos autorais. Quaisquer
      reproduções não autorizadas, duplicações ou redistribuições do conteúdo
      sem permissão expressa podem resultar em ações legais.
    </p>

    <h2 class={subtitleClass}>10. Rescisão de Acesso</h2>
    <p class={paragraphClass}>
      O Pulo do Gato News reserva-se o direito de encerrar ou suspender seu
      acesso ao site, a qualquer momento e sem aviso prévio, caso você viole
      estes Termos de Uso ou qualquer outra política aplicável.
    </p>

    <h2 class={subtitleClass}>11. Alterações no Serviço</h2>
    <p class={paragraphClass}>
      Podemos modificar, suspender ou descontinuar qualquer parte do blog,
      temporária ou permanentemente, a qualquer momento e sem aviso prévio. Não
      nos responsabilizamos por qualquer modificação, suspensão ou
      descontinuação do serviço.
    </p>

    <h2 class={subtitleClass}>12. Lei Aplicável</h2>
    <p class={paragraphClass}>
      Estes Termos de Uso são regidos pelas leis do [país ou estado aplicável],
      sem consideração aos princípios de conflitos de leis. Qualquer disputa
      relacionada ao uso do blog deverá ser resolvida nos tribunais competentes
      dessa jurisdição.
    </p>

    <h2 class={subtitleClass}>13. Contato</h2>
    <p class={paragraphClass}>
      Se você tiver dúvidas ou preocupações sobre estes Termos de Uso, entre em contato conosco pelo e-mail.
    </p>
  </div>
</Root>
