---
import { twMerge } from 'tailwind-merge';

import { Button } from '@/components/button';

type Props = {
  placeholder: string;
  title: string;
  name: string;
  type?: 'text' | 'email' | 'password';
  variant?: 'defeault' | 'transparent';
  value?: string;
  isRequired?: boolean;
};

const {
  placeholder,
  title,
  name,
  value,
  variant = 'defeault',
  isRequired = false,
  type = 'text',
} = Astro.props;
const isDefault = variant === 'defeault';
---

<div
  class={twMerge(
    'flex items-center px-3 py-2 rounded-md border border-gray-100 focus-within:border-primary',
    isDefault ? 'bg-gray-50' : 'bg-white',
  )}
>
  <input
    type={type}
    name={name}
    value={value}
    placeholder={placeholder}
    required={isRequired}
    class='flex-1 h-full w-[70%] bg-transparent border-none focus:ring-1 focus:ring-gray-50'
  />
  <Button>
    {title}
    <slot name='icon' />
  </Button>
</div>
