---
import { categoriesService } from '@/cms/index';
import { NAV_LINKS } from '../../constants';
import Brand from '../brand/index.astro';

const categories = await categoriesService.fetchAllCategories();

const currentYear = new Date().getFullYear();
---

<footer class='large-container pb-12 px-6 md:px-0 pt-20'>
  <div
    class='flex flex-col md:flex-row items-start justify-center md:justify-between w-full'
  >
    <div
      class='flex flex-col items-center justify-center md:items-start md:justify-start'
    >
      <Brand />
      <p class='mt-2 text-gray-500 text-center md:text-start'>
        As notícias que você precisa para começar o dia bem informado.
      </p>
    </div>

    <nav class='md:mt-0 mx-auto'>
      <ul class='flex items-center gap-3 mt-6 md:mt-0'>
        {
          NAV_LINKS.map(link => (
            <li class='font-bold text-gray-600 underline'>
              <a href={link.route}>{link.title}</a>
            </li>
          ))
        }
      </ul>
    </nav>

    <ul class='grid grid-cols-3 mx-auto gap-3 mt-6 md:mt-0'>
      {
        categories.map(category => (
          <li class='text-gray-500 font-medium'>
            <a href={`/posts?category=${category.name}`}>{category.name}</a>
          </li>
        ))
      }
    </ul>
  </div>

  <div
    class='flex items-center flex-col-reverse gap-3 sm:flex-row justify-between mt-12'
  >
    <p class='text-gray-700'>© Petros - {currentYear}</p>
    <div class='flex items-center gap-2 text-gray-400'>
      <a href='/terms-of-use' class='underline'>Termos de uso</a>
      <a href='/privacy-policy' class='underline'>Políticas de privacidade</a>
    </div>
  </div>
</footer>
